<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="principalContainer">
        <div class="logo">
            <img src="/assets/logo.png" alt="logo">

        </div>
        <div class="header">
            <h1>MEDIA GLOBAL</h1>
            <img id="loading" src="./assets/Loading_2.gif" />

            <div id="averageScore">
            </div>
        </div>

        <h1>MEDIA CATEGORÍAS</h1>
        <div class="topContainer">
            <img id="loading2" src="./assets/Loading_2.gif" />
        </div>
        <div id="categoriesContainer">

        </div>
        <h1>BUSCADOR DE CURSOS</h1>
        <div class="topContainer">
            <div class="navbar">

                <select id="categoryCards">
                </select>
                <div class="search">
                    <input type="text" class="search-input" placeholder="Buscador de cursos">
                    <button class="reset-search" onclick="resetSearchCourse()">Reset</button>
                    <button class="search-btn" onclick="searchCourse()">Buscar</button>
                </div>

                <div class="menu-icon" onclick="toggleMenu()"> ⬇️ MOSTRAR CURSOS ⬇️</div>
                <ul class="menu">
                </ul>
            </div>
        </div>
    </div>
    
    <div id="containerReload">
        <button id="averageReload">
            <img src="https://cdn-icons-png.flaticon.com/512/2499/2499113.png">
        </button>
        <h4>Refresh</h4>
    </div>


        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img src="https://www.svgrepo.com/show/206435/alert.svg" alt="">
                <p><strong>¿Desea reiniciar las medias?</strong></p>
                <p>El servicio dejará de estar disponible durante varios minutos.</p>
                <div id="containerButton">
                    <button id="confirmButton">Confirmar</button>
                    <button id="cancelButton">Cancelar</button>
                </div>

            </div>
        </div>

    </div>


    <script>
        var variableDesdeEJS = JSON.parse('<%-JSON.stringify(answersObject)%>');
        //var variableDesdeEJS2 = JSON.parse('<%-JSON.stringify(courseList)%>');
        var variableDesdeEJS3 = JSON.parse('<%-JSON.stringify(courseCategoriesArray)%>');
        var variableDesdeEJS4 = JSON.parse('<%-JSON.stringify(coursesInfo)%>');
        var variableDesdeEJS5 = JSON.parse('<%-JSON.stringify(recoverySurveyInfoPreData)%>');

        console.log("Hola", variableDesdeEJS5);

        localStorage.setItem('answersObject', JSON.stringify(variableDesdeEJS));
        //localStorage.setItem('courseList', JSON.stringify(variableDesdeEJS2));
        localStorage.setItem('courseCategoriesArray', JSON.stringify(variableDesdeEJS3));
        localStorage.setItem('courNamesArray', JSON.stringify(variableDesdeEJS4));
        localStorage.setItem('recoverySurveyInfoPreData', JSON.stringify(variableDesdeEJS5));


        let variablePrueba = localStorage.getItem('recoverySurveyInfoPreData');
        console.log("variablePrueba", variablePrueba);

        var modal = document.getElementById("confirmationModal");
        var container = document.getElementById("containerReload");
        var span = document.getElementsByClassName("close")[0];
        var confirmButton = document.getElementById("confirmButton");
        var cancelButton = document.getElementById("cancelButton");

        // Cunado se pulsa el botón de recargar, se muestra el modal
        container.onclick = function() {
            modal.style.display = "block";
        }

        // Cuando el usuario pulsa la X, se cierra el modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Cuando el usuario pulsa el botón de cancelar, se cierra el modal
        cancelButton.onclick = function() {
            modal.style.display = "none";
        }

        // Cuando el usuario pulsa el botón de confirmar, se cierra el modal y se muestra un mensaje de alerta
        confirmButton.onclick = async function() {
            modal.style.display = "none";
            // Limpiamos el local storage
            localStorage.removeItem('answersObject');
            localStorage.removeItem('courseList');
            localStorage.removeItem('courseCategoriesArray');
            localStorage.removeItem('courNamesArray');
            localStorage.removeItem('recoverySurveyInfoPreData');

            alert('Reiniciando, por favor no cierre ni actualice la página.');

            try {
                const response = await fetch('/reset-averages', {
                    method: 'POST'
                });
                if (response.ok) {
                    alert('Las medias se han reiniciado con éxito.');
                    window.location.reload();
                } 
            } catch (error) {
                console.error('Error:', error);
                alert('Hubo un problema al reiniciar las medias.');
            }
        }

        // Cuando el usuario pulsa fuera del modal, se cierra el modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
        <script src="averageGlobal.js"></script>
        <script src="averageCategories.js"></script>
        <script src="averageCourses.js"></script>
        <script src="../index.js"></script>
</body>

</html>